
/MacHack/_ReSharper.MacHack
/MacHack/MvcWebRole1/obj
/MacHack/MvcWebRole1/bin
/MacHack/RavenWorkerRole/obj
/MacHack/RavenWorkerRole/bin
/MacHack/MacHack/obj
/MacHack/MacHack/bin
/MacHack/MvcWebRole1/App_Data